*{ margin: 0; padding: 0; box-sizing: border-box; }
body {
    font-family: "Poppins", sans-serif;
}
.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
}
.nav {
    width: 100px;
    height: 100%;
    background-color:#405D9B;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.nav-items {
    width: 100%;
    margin-top: 2rem;
}
.nav-item {
    width: 100%;
    text-align: center;
    padding:1.5rem;
}
.nav-item i {
    font-size: 32px;
}
.active {
    background-color: #fff;
    color: #405D9B;
}
.profile-logo {
    text-align: center;
    width: 100%;
    padding: 1.5rem 0;
}
.profile-logo-container {
    padding: 0.8rem;
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
}
.profile-logo-container i {
    font-size: 25px;
    color: #405D9B;
}

.main {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}
.main-left {
    width: 300px;
    border-right: 1px solid #ccc;
    height: 100dvh;
}
.main-left-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #ccc;
}
.main-left-header h3 {
    font-size: 20px;
}
.main-left-header i {
    margin-right: 8px;
}
.chat-item {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}
.chat-item-active {
    background-color: #f1f1f1;
}
.chat-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-name-left {
    display: flex;
    align-items: center;
}
.chat-item-header input {
    margin-right: 10px;
}
.chat-name {
    font-size: 13px;
}
.chat-item-main {
    margin-top: 15px;
}
.chat-item-main h3{
    font-size: 14px;
}
.chat-item-main p {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.main-middle {
    flex: 1;
    height: 100dvh;
    display: flex;
    flex-direction: column;

}
.main-middle-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #ccc;
}
.main-middle-header h3 {
    font-size: 20px;
}
.main-middle-middle {
    background-color: #f1f1f1;
    flex: 1;
    padding: 2rem 1rem;
}
.main-middle-bottom {
    width: 100%;
    padding: 1.5rem 2rem;
    background-color: #f1f1f1;
}
.message-box {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.message-box .profile-logo-container {
    width: 30px;
    height: 30px;
    background-color: #405D9B;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}
.message-box .profile-logo-container i {
    font-size: 10px;
    color: #fff;
}
.message-box-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.message-box-item {
    display: inline-block;
    padding:0.8rem 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 8px;
}
.message-timestamp {
    font-size: 12px;
    font-weight: bold;
}
.message-box-right {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
    justify-content: flex-end;
}
.message-box-right .profile-logo-container {
    width: 30px;
    height: 30px;
    background-color: #405D9B;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-bottom: 2rem;
}
.message-box-right .profile-logo-container i{
    font-size: 10px;
    color: #fff;
}
.text-right {
    text-align: right;
}

.message-input {
    width: 100%;
    padding: 0.8rem;
    font-size: 14px;
    border: 1px solid #405D9B;
    border-radius: 4px;
    background-color: #fff;
}

.main-right {
    width: 300px;
    height: 100dvh;
    border-left: 1px solid #ccc;
    background-color: #f1f1f1;
}
.main-right-header {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}
.main-right-header .profile-logo-container {
    width: 55px;
    background-color: #405D9B;
    margin-bottom: 1rem;
}
.main-right-header .profile-logo-container i {
    color: #fff;
}
.main-right-header p {
    margin-bottom: 1rem;
}
.main-right-header-btn {
    display: flex;
    align-items: center;
}
.main-right-header-btn-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.main-right-header-btn-item i {
    margin-right: 12px;
}
.main-right-header-btn-item p {
    margin-bottom: 0;
}
.main-right-header-btn-item:first-child {
    margin-right: 10px;
}
.main-right-bottom {
    width: 100%;
    background-color: #f1f1f1;
    padding: 1.5rem 1rem;
}
.card {
    width: 100%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.card-title {
    font-size: 16px;
    margin-bottom: 1rem;
}
.card-tile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.85rem;
}
.card-tile p{
    font-size: 13px;
}
.card-tile p:last-child{
    font-weight: bold;
}
.card-link {
    font-size: 14px;
    color: rgba(88, 88, 255, 0.711);
    cursor: pointer;
}